<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>session_management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>compare</display-name>
    <servlet-name>compare</servlet-name>
    <servlet-class>master.servlet.compare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compare</servlet-name>
    <url-pattern>/compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_cookies</display-name>
    <servlet-name>servlet_cookies</servlet-name>
    <servlet-class>master.servlet.servlet_cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_cookies</servlet-name>
    <url-pattern>/servlet_cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>url_rewritting_jsp_servlet</display-name>
    <servlet-name>url_rewritting_jsp_servlet</servlet-name>
    <servlet-class>master.servlet.url_rewritting_jsp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>url_rewritting_jsp_servlet</servlet-name>
    <url-pattern>/url_rewritting_jsp_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hidden_field_servlet_1</display-name>
    <servlet-name>hidden_field_servlet_1</servlet-name>
    <servlet-class>master.servlet.hidden_field_servlet_1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hidden_field_servlet_1</servlet-name>
    <url-pattern>/hidden_field_servlet_1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hidden_field_servlet_2</display-name>
    <servlet-name>hidden_field_servlet_2</servlet-name>
    <servlet-class>master.servlet.hidden_field_servlet_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hidden_field_servlet_2</servlet-name>
    <url-pattern>/hidden_field_servlet_2</url-pattern>
  </servlet-mapping>
</web-app>